.Forgotpassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.Forgotpassword-options-container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Forgotpassword-options-container h2 {
    text-align: center;
}

.Forgotpassword-button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1ce057;
    color: white;
}

.Forgotpassword-button:hover {
    background-color: #1ce057;
}

.Forgotpassword-button-link {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    height: 100%;
    width: 100%;
}